body {
  //overflow-x: hidden;

  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;

  background-color: $background_text;
  color: $about_text_1;
}

img,
svg {
  display: block;
}

button {
  cursor: pointer;
}
