<header class="hero-header">
  <div class="container hero-header__container">
    <nav class="nav">
      <a href="./index.html" class="logo">
        <img src="./images/logo.png" alt="" width="199" />
      </a>
      <button class="mobail-menu__button menu-open" type="button">
        <svg width="20" height="12" aria-label="Переключатель мобильного меню">
          <use class="nav__icon-open" href="./images/icon.svg#icon-burger"></use>
        </svg>
      </button>
    </nav>
    <h1 class="title hero-header__title" id="home">
      ice cream <br />
      made with <br /><span class="hero-header__title--red"> passion</span>
    </h1>
    <ul class="hero-header__list-button">
      <li class="hero-header__item">
        <button class="button button--red" type="button ">Products</button>
      </li>
      <li class="hero-header__item">
        <button class="button" type="button">How it’s made?</button>
      </li>
    </ul>
  </div>

  <div class="mobail-menu is-hidden">
    <div class="mobail-menu__container">
      <button
        class="mobail-menu__button mobail-menu__button--close menu-open menu-close"
        type="button"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg width="14" height="14" aria-label="Переключатель мобильного меню">
          <use class="nav__icon-close" href="./images/icon.svg#icon-close"></use>
        </svg>
      </button>
      <button class="button button--big-text">
        Buy now<svg width="10" height="10" aria-label="Переключатель мобильного меню">
          <use class="nav__icon" href="./images/icon.svg#icon-vector-right"></use>
        </svg>
      </button>
      <nav class="mobail-menu__nav">
        <ul class="mobail-menu-nav__list">
          <li class="mobail-menu-nav__item">
            <a href="" class="mobail-menu-nav__link">Home</a>
          </li>
          <li class="mobail-menu-nav__item">
            <a href="" class="mobail-menu-nav__link">About us</a>
          </li>
          <li class="mobail-menu-nav__item">
            <a href="#how" class="mobail-menu-nav__link">How it’s made?</a>
          </li>
          <li class="mobail-menu-nav__item">
            <a href="#products" class="mobail-menu-nav__link">Our products</a>
          </li>
          <li class="mobail-menu-nav__item">
            <a href="#contact" class="mobail-menu-nav__link">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
