.title {
  font-family: Titan One;
  font-weight: 400;
  font-size: 58px;
  line-height: 1.138;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: $products_header_text;
}

.pre-title {
  font-family: Titan One;
  font-size: 30px;
  line-height: 1.133;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $products_paragraph_text;
}
