.customer-reviews {
  padding-top: 80px;

  @media screen and (min-width: 768px) {
    padding-top: 121px;
  }

  &__container {
    @media screen and (min-width: 768px) {
      padding: 0 74px;
    }

    @media screen and (min-width: 1280px) {
      padding: 0 177px;
    }
  }

  &__photo {
    margin: 0 auto 29px;

    @media screen and (min-width: 768px) {
      margin-bottom: 19px;
    }

    @media screen and (min-width: 1280px) {
      margin-bottom: 15px;
    }
  }

  &__comment {
    position: relative;
    padding: 43px 50px 20px;
    z-index: -2;

    background-color: #fafafa;

    &::before {
      position: absolute;
      top: 28px;
      left: 61px;
      z-index: -1;
      content: '';
      display: inline-block;
      width: 54px;
      height: 40px;

      background-image: url('../images/icon-comma.svg');
    }

    & > p {
      padding: 0 7px;

      font-family: DM Sans;
      font-weight: 500;
      font-size: 12px;
      line-height: 255%;
      text-align: center;

      color: #000000;
      background-image: repeating-linear-gradient(
        to bottom,
        transparent 0px,
        transparent 30px,
        #e1e1e1 30px,
        transparent 31px
      );

      @media screen and (min-width: 768px) {
        padding: 0 20px;

        font-size: 14px;
        line-height: 216%;

        background-image: repeating-linear-gradient(
          to bottom,
          transparent 0px,
          transparent 29px,
          #e1e1e1 29px,
          transparent 30px
        );
      }

      @media screen and (min-width: 1280px) {
        padding: 0 28px;

        font-size: 16px;
        line-height: 186%;

        background-image: repeating-linear-gradient(
          to bottom,
          transparent 0px,
          transparent 28px,
          #e1e1e1 28px,
          transparent 29px
        );
      }
    }
  }

  &__user {
    font-family: DM Sans;
    font-weight: 500;
    font-size: 14px;
    line-height: 186%;
    text-align: center;

    @media screen and (min-width: 768px) {
      font-size: 16px;
    }

    @media screen and (min-width: 1280px) {
      font-size: 20px;
    }

    &::before {
      content: '...';
      display: block;
      margin-top: 18px;
      margin-bottom: 18px;

      font-size: 38px;
      letter-spacing: 0.2em;

      color: #c7133e;

      @media screen and (min-width: 768px) {
        margin-top: 24px;
        margin-bottom: 14px;
      }

      @media screen and (min-width: 1280px) {
        margin-top: 15px;
        margin-bottom: 15px;
      }
    }
  }

  &__group-icons {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    @media screen and (min-width: 768px) {
      margin-top: 35px;
    }

    & > li {
      fill: #d31342;
    }

    & > li:not(:first-child) {
      margin-left: 18px;
      fill: #d9d9d9;
    }
  }

  &__icon {
    width: 12px;
    height: 12px;
    fill: inherit;
  }
}
