@media screen and (max-width: 767px) {
  .products {
    margin-left: auto;
    margin-right: auto;
    padding-top: 121px;
    padding-bottom: 98px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .products {
    padding-top: 122px;
    padding-bottom: 112px;
    text-align: center;
  }
}

@media screen and (min-width: 1280px) {
  .products {
    padding-top: 127px;
    padding-bottom: 119px;
    text-align: center;
  }
}

.products__label {
  margin-bottom: 15px;
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
  text-transform: uppercase;
  color: $products_paragraph_text;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
  }

  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
  }
}

.products__header {
  margin-bottom: 147px;
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $products_header_text;

  @media screen and (min-width: 768px) {
    margin-bottom: 158px;
    font-size: 48px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 269px;
    font-size: 58px;
    line-height: 1.13;
  }
}

@media screen and (max-width: 767px) {
  .products__list {
    position: relative;
    width: 280px;
    margin: 0 auto;
    .products__item:not(:last-child) {
      margin-bottom: 130px;
    }
  }
}

@media screen and(min-width: 768px) {
  .products__list {
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    justify-content: center;
    .products__item:not(:last-child) {
      margin-right: 20px;

      @media screen and (min-width: 1280px) {
        margin-right: 27px;
      }
    }
  }
}

.products__item {
  padding-top: 166px;
  padding-left: 41px;
  padding-right: 39px;
  padding-bottom: 41px;
  margin: 0 auto;
  min-width: 280px;
  border-radius: 24px;
  &--pink {
    background-color: $background_ice_cream;
    &::before {
      content: '';
      display: block;

      width: 249px;
      height: 252px;
      position: absolute;
      top: -110px;
      left: 18px;

      background: url('../images/compr480/ice-cream-1x-min.png');
      background-repeat: no-repeat;
      background-position: center;

      @media screen and (min-width: 768px) {
        top: -115px;
        left: 15px;
        min-height: 226px;
        max-width: 220px;

        background: url('../images/compr768/ice-cream-1x-min.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }

      @media screen and (min-width: 1280px) {
        top: -205px;
        left: 95px;
        min-height: 335px;
        min-width: 335px;

        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background: url('../images/compr1280/ice-cream-1x-min.png');
      }
    }
  }
  &--brown {
    background-color: $background_ice_coffee;
    &::before {
      content: '';
      display: block;
      width: 249px;
      height: 252px;
      position: absolute;
      top: 520px;
      left: 18px;

      background: url('../images/compr480/ice-coffee-1x-min.png');
      background-repeat: no-repeat;
      background-position: center;

      @media screen and (min-width: 768px) {
        top: -115px;
        left: 255px;
        min-height: 233px;
        max-width: 220px;
        background-size: 220px 233px;

        background: url('../images/compr768/ice-coffee-1x-min.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }

      @media screen and (min-width: 1280px) {
        top: -205px;
        left: 455px;
        min-height: 335px;
        min-width: 335px;

        background: url('../images/compr1280/ice-coffee-1x-min.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
  &--green {
    background-color: $background_milkshakes;
    &::before {
      content: '';
      display: block;
      width: 249px;
      height: 252px;
      position: absolute;
      top: 1160px;
      left: 18px;

      background: url('../images/compr480/milkshakes-1x-min.png');
      background-repeat: no-repeat;
      background-position: center;

      @media screen and (min-width: 768px) {
        top: -115px;
        left: 495px;
        min-height: 224px;
        max-width: 220px;

        background: url('../images/compr768/milkshakes-1x-min.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

        @media screen and (min-width: 1280px) {
          top: -205px;
          left: 817px;
          min-height: 335px;
          min-width: 335px;

          background: url('../images/compr1280/milkshakes-1x-min.png');
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }
  }

  @media screen and (min-width: 768px) {
    padding-top: 157px;
    min-width: 220px;
    margin: 0;
    padding-left: 11px;
    padding-right: 11px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 171px;
    min-width: 335px;
    margin: 0;
    padding-left: 44px;
    padding-right: 44px;
  }
}

.products__title {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $products_text;
  &::after {
    display: block;
    content: '. . .';
    margin-top: 30px;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
  }
}

.products__description {
  margin-bottom: 30px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 152%;
  text-align: center;
  letter-spacing: 0.04em;
  color: $products_text;

  @media screen and (min-width: 768px) {
    width: 198px;
  }

  @media screen and (min-width: 1280px) {
    margin-left: auto;
    margin-right: auto;

    width: 241px;
    font-size: 16px;
    line-height: 176%;
  }
}

.products__button {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: $products_text;
  border-radius: 50%;
  border-color: transparent;
}

.products__icon {
  width: 12px;
  height: 12px;
  fill: $products_header_text;
}
